@import "tailwindcss";

/* Темна тема для карти — преміум варіант */
#map {
  filter: 
    invert(92%)           /* робимо основу темною */
    hue-rotate(180deg)    /* баланс кольорів */
    brightness(72%)       /* зменшуємо надмірне освітлення */
    contrast(92%)         /* підсилюємо деталі */
    saturate(85%);        /* приглушаємо кислотність */
}